<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewrite</title>
    <link type="text/css" rel="stylesheet" href="css/third-party.min.css"/>
</head>
<body>
    
    header#header-container
    div.container
        main#main-container
    
    script(src='js/third-party.min.js')
    script(src='js/app.min.js')
    
    script(type='text/javascript').
        $(".button-collapse").sideNav();    
    
</body>
</html>
